{% extends 'master.html' %}


{% block content %}
  <h1>Checkout</h1>
  <p>Review your order and complete your purchase:</p>

  <div class="cart-items">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items.all %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.total_price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>Total price: ${{ total_price }}</p>
  </div>


    <p>Your wallet balance: {{ balance }}$</p>
  <form method="POST" action="{% url 'cart:order_complete' %}">
    {% csrf_token %}
    <button type="submit">Place order</button>
  </form>
{% endblock %}