{% extends 'master.html' %}

{% block content %}
    <h1>Order History</h1>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>{{ order }} - Total Price: {{ order.total_price }}</li>
                <ul>
                    {% for item in order.orderitem_set.all %}
                        <li>{{ item.quantity }} x {{ item.cart_item.product.name }} - Price: {{ item.price }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no orders.</p>
    {% endif %}
{% endblock %}