{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'myStyles.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <nav>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>

<div class="topnav">
  <a href="/">HOME</a> |
  {% if user.is_authenticated %}
    <a href="/products">PRODUCTS</a> |
    <a href="/cart">SHOPPING CART</a> |
    <a href="{% url 'cart:add_funds' %}">ADD FUNDS</a> |
    <a href="{% url 'cart:checkout' %}">CHECKOUT</a> |
    <a href="{% url 'cart:order_history' %}">ORDER HISTORY</a>
  {% endif %}
</div>

  <header>
    {% block header %}
        <!-- Navigation menu or other header content -->
    {% endblock %}
  </header>
  <main>
    {% block content %}
        <!-- Default content if no block is defined in the child template -->
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
        <!-- Footer content -->
    {% endblock %}
  </footer>
</body>
</html>