<!DOCTYPE html>
<html>
    {% extends "master.html" %}
<head>
	<title>products</title>
</head>
<body>

    
{% block content %}
    {% for product in products %}
    <div class="image ">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" >
    </div>
    <h2><a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a></h2>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        {% if product.image %}

        {% endif %}
    {% endfor %}
{% endblock %}

</body>
</html>